.story {
    background-image: url(../images/5_big.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;
    background-size: cover;
}

.story_catalog {
    display: flex;
    flex-direction: column;
    width: 426px;
    padding-bottom: 40px;
}

.story h5 {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color:white;
    margin: 0px;
    padding-top: 324px;  
    position: relative; 
}

.story h5::before{
    content: '';
    width: 5px;
    bottom: -95px;
    left: -29px;
    position: absolute;
    height: 201px;
    background: #ADD4E0;
    z-index: 1;
}

.story h5::after{
    content: '';
    width: 5px;
    bottom: -110px;
    left: -29px;
    position: absolute;
    height: 195px;
    background: #615E5C;
    border-radius: 50px;
}

.additional-links {
    position: relative;
}

.additional-links::before {
    content: '';
    width: 5px;
    bottom: 50px;
    left: -29px;
    position: absolute;
    height: 23px;
    background: #615E5C;
    border-radius: 50px;
}



.story p {
        font-size: 17px;
    line-height: 23px;
    color:white;
    padding-bottom:12px;
    max-height: 100px;
    overflow: hidden;
}

.story a {
    font-size: 14px;
    line-height: 20px;
    color:white;
    padding-bottom: 50px;
    text-decoration: none;
}

.story .additional-links {
    font-size: 17px;
    line-height: 23px;
    color:white;
    margin-bottom: -25px;
}